mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  
    > div {
      flex: 50%;
      padding: 10px;
    }

    > .temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      > div {
        flex: 50%;
        border-radius: 10px;
        padding: 10px;
      }
      
      > .outlook {
        color: black;
        background: rgba(0, 0, 0, 0.1);
      }
      
      > .temp {
        background: lightblue;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      > .temp {
        background: lightblue;
        color: black;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .big-text {
        font-size: 30px;
      }
      
      .image {
        height: 80px;
      }
  }

.col-md-6 {
    flex: 0 0 50%;
    max-width: 35%;
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width: 1300px) and (max-width: 3000px) {
  .main-no-data{
    display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-bottom: calc(100% - 60%) !important;
  }
}
@media (min-width: 960px){
  .main-no-data{
    display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-bottom: calc(100% - 90%);
  }
}

.icon {
  font-size: 48px;
  color: #ccc; /* Adjust the color as needed */
}